extends layout

block content
  .container
    h1 Login Page
    p.lead Say something worthwhile here.
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      if (errmsg)
        p.text-danger #{errmsg}
      button.btn.btn-primary(type='submit') Submit
      =" "
      a(href='/')
        button.btn.btn-default(type="button") Cancel
      =" "
      a(href="/auth/google")
        img(src='https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Google_base_44dp.png', style='width: 120px; height: 40px;')
